@use '../base/' as *;
@use '../util/' as *;

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: $f-reg;

	color: clr(primary, darker-blue);

	margin: 0;
	padding: 0;
}
